{{>header}}

<div class="container">
  {{#each data}}
    <div>
      <ul>
      {{#each products}}
        <li>{{product.title}} {{data.quantity}} {{> buttonDelProdCart pid=product._id cid=../_id}}</li>
      {{/each}}
      </ul>
      <p>ID del Carrito: {{this._id}}</p>
      <p><strong>Date: </strong> {{date}}</p>
      <p><strong>Status: <span class="cart-{{status}}"> {{status}}</span></strong></p>
      <span class="commandButtons">
        {{>buttonGoToCart cid=this._id}}
        {{>buttonCloseCart cid=this._id}}
        {{>buttonEmptyCart cid=this._id}}      
      </span>
    </div>
  {{/each}}
</div>


<script>  
  async function agregarAlCarrito(productId) {
    try {
      const response = await fetch(`/api/carts/${productId}`, {
        method: "POST" });

      if (response.ok) {
        // Redirigir a la página de carritos después de la respuesta exitosa
        window.location.href = "/carts";
      } else if (response.status === 401) {
        // Si no está autorizado, redirigir a login
        window.location.href = "/login";
      } else {
        console.error("Error al añadir el producto al carrito");
      }
    } catch (error) {
      console.error("Error en la solicitud:", error);
    }
  }
</script>