{{>header}}

<div class="container cartContainer">
  <div>
    <ul>
    {{#each data.products}}
      <li>{{product.title}} $:{{product.price}} x {{quantity}} {{> buttonDelProdCart pid=product._id cid=../_id}}</li>
    {{/each}}
    </ul>
    <p>ID del Carrito: {{data._id}}</p>
    <p><strong>Date: </strong> {{data.date}}</p>
    <p><strong>Status: <span class="cart-{{status}}"> {{data.status}}</span></strong></p>
    <span class="commandButtons">
      {{>buttonGoToCart cid=this._id}}
      {{>buttonCloseCart cid=data._id}}
      {{>buttonEmptyCart cid=this._id}}      
    </span>
  </div>
</div>


<script>  
  async function completePurchase(cid) {
    try {
      const response = await fetch(`/api/carts/${cid}/purchase`, {
        method: "POST" });

      if (response.ok) {
        // Redirigir a la página de carritos después de la respuesta exitosa
        window.location.href = "/carts";
      } else if (response.status === 401) {
        // Si no está autorizado, redirigir a login
        window.location.href = "/login";
      } else {
        console.error("Error al añadir el producto al carrito");
      }
    } catch (error) {
      console.error("Error en la solicitud:", error);
    }
  }
</script>